In [11]:
import time
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

In [7]:
url = 'https://www.linkedin.com/jobs/search?keywords=geospatial&location=United%20Kingdom&geoId=101165590&trk=public_jobs_jobs-search-bar_search-submit&redirect=false&position=1&pageNum=0'

In [8]:
wd = webdriver.Chrome(executable_path='C:/Users/ALBERTA ANIM-AYEKO/Desktop/chromedriver.exe')
wd.get(url)

In [78]:
wd.find_element_by_id

In [69]:
#wd.find_element_by_class_name("results-context-header_job-count")

#wd.find_element_by_class_name('job-search-ext')#this works
#wd.find_element_by_id('results-list__title')
wd.find_element_by_class_name('jobs-search-results-list__title-heading').get_attribute('innerText').split('\n')[1]

'649 results'

In [70]:
wd.find_element_by_class_name('jobs-search-results-list__title-heading').get_attribute('innerText').split('\n')[1]

'649 results'

In [ ]:
i = 2
while i <= int(no_of_jobs/25)+1: 
    wd.execute_script('window.scrollTo(0, document.body.scrollHeight);')
    i = i + 1
     try:
        wd.find_element_by_xpath('/html/body/main/div/section/button').click()
        time.sleep(5)
   
     except:
        pass
        time.sleep(5)

In [ ]:
job_lists = wd.find_element_by_class_name('jobs-search__results-list')
jobs = jobs_lists.find_elements_by_tag_name('li') # return a list

In [ ]:
len(jobs)

### Code below adapted from youtube-https://youtu.be/X9OXAV7SGmM- Used to scrape job posts from LinkedIn

In [14]:
browser = webdriver.Chrome('chromedriver.exe')
browser.get("https://linkedin.com")

In [15]:
username = browser.find_element_by_id("session_key")
username.send_keys("aanimayeko@gmail.com")
password = browser.find_element_by_id("session_password")
password.send_keys("stevengerrar3")

In [18]:
login_button = browser.find_element_by_class_name("sign-in-form__submit-button")
login_button.click()

In [19]:
browser.get("https://www.linkedin.com/jobs/")

In [27]:
job = browser.find_elements_by_class_name("job-card-list__title") #jobs-job-board-list__item--works
c = [] 
for i in job:
    c.append(i.text)
print(c)
print(len(c))

['GIS Analyst', 'Graduate Hydraulic Modeller - Water', 'Technical Writer', 'Polaris ProductWriter Developer', 'GIS Developer', 'Data Scientist, Analytics Intern', 'Unreal Developer', 'thinkFolio modernization FE developer', 'Extend Workday Developer', 'Internship opportunities: Health Intelligence - Machine Learning', 'Data Science Graduate Programme', 'Electron Developer', 'Visualisation Developer', 'Technical Writer Intern', 'GIS / Cartographic Consultant', 'Data Analyst', 'Technical Writer', 'Technical Writer', 'Technical Writer', 'Entry Level/Junior Python Developer-Fintech start up', 'AECOM Graduate Opportunities UK & Ireland 2021/22', 'Adobe Campaign Developer / Campaign Developer', 'ROBLOX Developer', 'Storyline Developer']
24

In [33]:
[print((title, '\n')) for title in c]

('GIS Analyst', '\n')
('Graduate Hydraulic Modeller - Water', '\n')
('Technical Writer', '\n')
('Polaris ProductWriter Developer', '\n')
('GIS Developer', '\n')
('Data Scientist, Analytics Intern', '\n')
('Unreal Developer', '\n')
('thinkFolio modernization FE developer', '\n')
('Extend Workday Developer', '\n')
('Internship opportunities: Health Intelligence - Machine Learning', '\n')
('Data Science Graduate Programme', '\n')
('Electron Developer', '\n')
('Visualisation Developer', '\n')
('Technical Writer Intern', '\n')
('GIS / Cartographic Consultant', '\n')
('Data Analyst', '\n')
('Technical Writer', '\n')
('Technical Writer', '\n')
('Technical Writer', '\n')
('Entry Level/Junior Python Developer-Fintech start up', '\n')
('AECOM Graduate Opportunities UK & Ireland 2021/22', '\n')
('Adobe Campaign Developer / Campaign Developer', '\n')
('ROBLOX Developer', '\n')
('Storyline Developer', '\n')

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [36]:
job2 = browser.find_elements_by_class_name("job-card-container__company-name")
company_name = []
for i in job2:
    company_name.append(i.text)
print(company_name)
print(len(company_name))

['Jacobs', 'Royal HaskoningDHV', 'Zadara', 'Aviva', 'Satellite Vu', 'Meta', 'Maclean Moore', 'IHS Markit', 'Kainos', 'Microsoft', 'Diageo', 'Bright Purple', 'ICON plc', 'Unity', 'networx | Recruitment Software & Services', 'Arup', 'CircleCI', 'Mastercard', 'Ocado Technology', 'Robert Walters', 'AECOM', 'Specsavers', 'Pertemps ERP (part of Network EMEA)', 'Bakkavor']
24

In [91]:
job3 = browser.find_elements_by_class_name("job-card-container__metadata-item")
location = []
modes = ['hybrid', 'onsite', 'remote', 'on-site', ]
for i in job3:
    location.append((i.text))
    
for i in location:
    booli = i.lower() in modes
    if booli == True:
        location.remove(i)
        
print(location)
print(len(location))

['Wokingham, England, United Kingdom', 'Peterborough, England, United Kingdom', 'United Kingdom', 'United Kingdom', 'London, England, United Kingdom', 'London, England, United Kingdom', 'United Kingdom', 'Manchester, England, United Kingdom', 'Cardiff, Wales, United Kingdom', 'Cambridge, England, United Kingdom', 'London, England, United Kingdom', 'United Kingdom', 'United Kingdom', 'Brighton, England, United Kingdom', 'Bilston, England, United Kingdom', 'Manchester, England, United Kingdom', 'United Kingdom', 'Rickmansworth, England, United Kingdom', 'Welwyn Garden City, England, United Kingdom', 'London, England, United Kingdom', 'Newcastle upon Tyne, England, United Kingdom', 'Southampton, England, United Kingdom', 'United Kingdom', 'United Kingdom', 'London, England, United Kingdom', 'London, England, United Kingdom', 'London, England, United Kingdom', 'London, England, United Kingdom', 'London, England, United Kingdom', 'Hatfield, England, United Kingdom', 'London, England, United Kingdom', 'Wide Open, England, United Kingdom', 'Manchester, England, United Kingdom', 'London, England, United Kingdom', 'London, England, United Kingdom', 'Cambridge, England, United Kingdom', 'Reading, England, United Kingdom', 'London, England, United Kingdom', 'London, England, United Kingdom', 'Exeter, England, United Kingdom', 'Walters Ash, England, United Kingdom', 'England, United Kingdom', 'London, England, United Kingdom', 'England, United Kingdom', 'London, England, United Kingdom', 'London, England, United Kingdom', 'Birmingham, England, United Kingdom', 'Maidstone, England, United Kingdom']
48

In [93]:
location[0:24]

['Wokingham, England, United Kingdom',
 'Peterborough, England, United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'London, England, United Kingdom',
 'London, England, United Kingdom',
 'United Kingdom',
 'Manchester, England, United Kingdom',
 'Cardiff, Wales, United Kingdom',
 'Cambridge, England, United Kingdom',
 'London, England, United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'Brighton, England, United Kingdom',
 'Bilston, England, United Kingdom',
 'Manchester, England, United Kingdom',
 'United Kingdom',
 'Rickmansworth, England, United Kingdom',
 'Welwyn Garden City, England, United Kingdom',
 'London, England, United Kingdom',
 'Newcastle upon Tyne, England, United Kingdom',
 'Southampton, England, United Kingdom',
 'United Kingdom',
 'United Kingdom']

In [94]:
location[24:]

['London, England, United Kingdom',
 'London, England, United Kingdom',
 'London, England, United Kingdom',
 'London, England, United Kingdom',
 'London, England, United Kingdom',
 'Hatfield, England, United Kingdom',
 'London, England, United Kingdom',
 'Wide Open, England, United Kingdom',
 'Manchester, England, United Kingdom',
 'London, England, United Kingdom',
 'London, England, United Kingdom',
 'Cambridge, England, United Kingdom',
 'Reading, England, United Kingdom',
 'London, England, United Kingdom',
 'London, England, United Kingdom',
 'Exeter, England, United Kingdom',
 'Walters Ash, England, United Kingdom',
 'England, United Kingdom',
 'London, England, United Kingdom',
 'England, United Kingdom',
 'London, England, United Kingdom',
 'London, England, United Kingdom',
 'Birmingham, England, United Kingdom',
 'Maidstone, England, United Kingdom']

In [53]:
[print(i, '\n') for i in location]

Wokingham, England, United Kingdom

Peterborough, England, United Kingdom

United Kingdom

Remote

United Kingdom

Remote

London, England, United Kingdom

London, England, United Kingdom

United Kingdom

Remote

Manchester, England, United Kingdom

Cardiff, Wales, United Kingdom

Cambridge, England, United Kingdom

London, England, United Kingdom

United Kingdom

Remote

United Kingdom

Remote

Brighton, England, United Kingdom

Bilston, England, United Kingdom

Manchester, England, United Kingdom

Hybrid

United Kingdom

Remote

Rickmansworth, England, United Kingdom

Welwyn Garden City, England, United Kingdom

London, England, United Kingdom

Newcastle upon Tyne, England, United Kingdom

On-site

Southampton, England, United Kingdom

Remote

United Kingdom

Remote

United Kingdom

Remote

London, England, United Kingdom

London, England, United Kingdom

London, England, United Kingdom

London, England, United Kingdom

London, England, United Kingdom

Hatfield, England, United Kingdom

London, England, United Kingdom

On-site

Wide Open, England, United Kingdom

Manchester, England, United Kingdom

London, England, United Kingdom

On-site

London, England, United Kingdom

Cambridge, England, United Kingdom

Reading, England, United Kingdom

London, England, United Kingdom

London, England, United Kingdom

Exeter, England, United Kingdom

Hybrid

Walters Ash, England, United Kingdom

England, United Kingdom

Hybrid

London, England, United Kingdom

England, United Kingdom

London, England, United Kingdom

Hybrid

London, England, United Kingdom

Birmingham, England, United Kingdom

Maidstone, England, United Kingdom

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [55]:
modes = ['hybrid', 'onsite', 'remote', 'on-site', ]

In [58]:
for i in location: 
    if i in modes:
        location = location.pop(i)

In [59]:
len(location)

64

In [62]:
here = ['Wokingham, England, United Kingdom', 'Peterborough, England, United Kingdom', 'United Kingdom', 'Remote', 'United Kingdom', 'Remote', 'London, England, United Kingdom', 'London, England, United Kingdom', 'United Kingdom', 'Remote', 'Manchester, England, United Kingdom', 'Cardiff, Wales, United Kingdom', 'Cambridge, England, United Kingdom', 'London, England, United Kingdom', 'United Kingdom', 'Remote', 'United Kingdom', 'Remote', 'Brighton, England, United Kingdom', 'Bilston, England, United Kingdom', 'Manchester, England']

In [63]:
len(here)

21

In [64]:
'Remote' in here

True

In [88]:
for i in here:
    booli = i.lower() in modes
    if booli == True:
        here.remove(i)

In [87]:
'Remote'.lower() in modes

True

In [86]:
modes

['hybrid', 'onsite', 'remote', 'on-site']

In [89]:
len(here)

15

In [84]:
here

['Peterborough, England, United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'London, England, United Kingdom',
 'London, England, United Kingdom',
 'United Kingdom',
 'Manchester, England, United Kingdom',
 'Cardiff, Wales, United Kingdom',
 'Cambridge, England, United Kingdom',
 'London, England, United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'Brighton, England, United Kingdom',
 'Bilston, England, United Kingdom',
 'Manchester, England']

In [68]:
here.pop(0)

'Wokingham, England, United Kingdom'

In [70]:
len(here)

20

------------------------------------

In [97]:
new = browser.find_elements_by_class_name("job-card-container")
all_data = []
for i in new:
    all_data.append(i.text)

In [110]:
ldd = []
for data in all_data:
    ldd.append(data.split('\n')[:3])

In [115]:
titles = [data[0] for data in ldd]
titles

['GIS Analyst',
 'Graduate Hydraulic Modeller - Water',
 'Technical Writer',
 'Polaris ProductWriter Developer',
 'GIS Developer',
 'Data Scientist, Analytics Intern',
 'Unreal Developer',
 'thinkFolio modernization FE developer',
 'Extend Workday Developer',
 'Internship opportunities: Health Intelligence - Machine Learning',
 'Data Science Graduate Programme',
 'Electron Developer',
 'Visualisation Developer',
 'Technical Writer Intern',
 'GIS / Cartographic Consultant',
 'Data Analyst',
 'Technical Writer',
 'Technical Writer',
 'Technical Writer',
 'Entry Level/Junior Python Developer-Fintech start up',
 'AECOM Graduate Opportunities UK & Ireland 2021/22',
 'Adobe Campaign Developer / Campaign Developer',
 'ROBLOX Developer',
 'Storyline Developer',
 'Content Developer & Technical Writer',
 'Data Science - Intern',
 'Data Science & Analytics Internship',
 'Technical Writer',
 'Excel Bloomberg Query Language (BQL) Developer Specialist',
 'Technical Writer - eCommerce',
 'Artificial Intelligence Engineer',
 'Junior Data Scientist',
 'Email Developer',
 'Catastrophe model developer (Vulnerabilities expert)',
 'Client developer',
 'Graduate Machine Learning Engineer / Data Scientist',
 'Data Scientist H/F',
 'Technical Writer',
 'Technical Writer - Fulfillment',
 'Developer (Level 4)',
 'Graduate Space Liaison',
 'Geographic Information Systems Consultant',
 'Technical Writer',
 'Looker Developer',
 'StreamSets Developer',
 'Summer Internship - Sustainability, ESG, London 2022, PWC',
 'AI Engineer',
 'MI Developer - Advisory']

In [117]:
ldd

[['GIS Analyst', 'Jacobs', 'Wokingham, England, United Kingdom'],
 ['Graduate Hydraulic Modeller - Water',
  'Royal HaskoningDHV',
  'Peterborough, England, United Kingdom'],
 ['Technical Writer', 'Zadara', 'United Kingdom'],
 ['Polaris ProductWriter Developer', 'Aviva', 'United Kingdom'],
 ['GIS Developer', 'Satellite Vu', 'London, England, United Kingdom'],
 ['Data Scientist, Analytics Intern',
  'Meta',
  'London, England, United Kingdom'],
 ['Unreal Developer', 'Maclean Moore', 'United Kingdom'],
 ['thinkFolio modernization FE developer',
  'IHS Markit',
  'Manchester, England, United Kingdom'],
 ['Extend Workday Developer', 'Kainos', 'Cardiff, Wales, United Kingdom'],
 ['Internship opportunities: Health Intelligence - Machine Learning',
  'Microsoft',
  'Cambridge, England, United Kingdom'],
 ['Data Science Graduate Programme',
  'Diageo',
  'London, England, United Kingdom'],
 ['Electron Developer', 'Bright Purple', 'United Kingdom'],
 ['Visualisation Developer', 'ICON plc', 'United Kingdom'],
 ['Technical Writer Intern', 'Unity', 'Brighton, England, United Kingdom'],
 ['GIS / Cartographic Consultant',
  'networx | Recruitment Software & Services',
  'Bilston, England, United Kingdom'],
 ['Data Analyst', 'Arup', 'Manchester, England, United Kingdom'],
 ['Technical Writer', 'CircleCI', 'United Kingdom'],
 ['Technical Writer', 'Mastercard', 'Rickmansworth, England, United Kingdom'],
 ['Technical Writer',
  'Ocado Technology',
  'Welwyn Garden City, England, United Kingdom'],
 ['Entry Level/Junior Python Developer-Fintech start up',
  'Robert Walters',
  'London, England, United Kingdom'],
 ['AECOM Graduate Opportunities UK & Ireland 2021/22',
  'AECOM',
  'Newcastle upon Tyne, England, United Kingdom'],
 ['Adobe Campaign Developer / Campaign Developer',
  'Specsavers',
  'Southampton, England, United Kingdom'],
 ['ROBLOX Developer', 'Pertemps ERP (part of Network EMEA)', 'United Kingdom'],
 ['Storyline Developer', 'Bakkavor', 'United Kingdom'],
 ['Content Developer & Technical Writer',
  'Amazon',
  'London, England, United Kingdom'],
 ['Data Science - Intern', 'Argus Media', 'London, England, United Kingdom'],
 ['Data Science & Analytics Internship',
  'King',
  'London, England, United Kingdom'],
 ['Technical Writer', 'Chainalysis Inc.', 'London, England, United Kingdom'],
 ['Excel Bloomberg Query Language (BQL) Developer Specialist',
  'Bloomberg LP',
  'London, England, United Kingdom'],
 ['Technical Writer - eCommerce',
  'Ocado Technology',
  'Hatfield, England, United Kingdom'],
 ['Artificial Intelligence Engineer',
  'SICA SMART INFRASTRUCTURE OF TOMORROW PLATF',
  'London, England, United Kingdom'],
 ['Junior Data Scientist', 'Atos', 'Wide Open, England, United Kingdom'],
 ['Email Developer', 'AO', 'Manchester, England, United Kingdom'],
 ['Catastrophe model developer (Vulnerabilities expert)',
  'Guy Carpenter',
  'London, England, United Kingdom'],
 ['Client developer', 'Avison Young │UK', 'London, England, United Kingdom'],
 ['Graduate Machine Learning Engineer / Data Scientist',
  'Cambridge Consultants',
  'Cambridge, England, United Kingdom'],
 ['Data Scientist H/F', 'HP', 'Reading, England, United Kingdom'],
 ['Technical Writer', 'Mediaocean', 'London, England, United Kingdom'],
 ['Technical Writer - Fulfillment',
  'Ocado Group',
  'London, England, United Kingdom'],
 ['Developer (Level 4)',
  'University of Exeter',
  'Exeter, England, United Kingdom'],
 ['Graduate Space Liaison', 'Serco', 'Walters Ash, England, United Kingdom'],
 ['Geographic Information Systems Consultant',
  'Helyx Secure Information Systems Limited',
  'England, United Kingdom'],
 ['Technical Writer',
  'LSEG (London Stock Exchange Group)',
  'London, England, United Kingdom'],
 ['Looker Developer', 'Tata Consultancy Services', 'England, United Kingdom'],
 ['StreamSets Developer', 'Gazelle Global', 'London, England, United Kingdom'],
 ['Summer Internship - Sustainability, ESG, London 2022, PWC',
  'Guardian Jobs',
  'London, England, United Kingdom'],
 ['AI Engineer', 'BT', 'Birmingham, England, United Kingdom'],
 ['MI Developer - Advisory',
  'The Ardonagh Group',
  'Maidstone, England, United Kingdom']]

In [118]:
company_name = [data[1] for data in ldd]
company_name

['Jacobs',
 'Royal HaskoningDHV',
 'Zadara',
 'Aviva',
 'Satellite Vu',
 'Meta',
 'Maclean Moore',
 'IHS Markit',
 'Kainos',
 'Microsoft',
 'Diageo',
 'Bright Purple',
 'ICON plc',
 'Unity',
 'networx | Recruitment Software & Services',
 'Arup',
 'CircleCI',
 'Mastercard',
 'Ocado Technology',
 'Robert Walters',
 'AECOM',
 'Specsavers',
 'Pertemps ERP (part of Network EMEA)',
 'Bakkavor',
 'Amazon',
 'Argus Media',
 'King',
 'Chainalysis Inc.',
 'Bloomberg LP',
 'Ocado Technology',
 'SICA SMART INFRASTRUCTURE OF TOMORROW PLATF',
 'Atos',
 'AO',
 'Guy Carpenter',
 'Avison Young │UK',
 'Cambridge Consultants',
 'HP',
 'Mediaocean',
 'Ocado Group',
 'University of Exeter',
 'Serco',
 'Helyx Secure Information Systems Limited',
 'LSEG (London Stock Exchange Group)',
 'Tata Consultancy Services',
 'Gazelle Global',
 'Guardian Jobs',
 'BT',
 'The Ardonagh Group']

In [119]:
loc = [data[2] for data in ldd]
loc

['Wokingham, England, United Kingdom',
 'Peterborough, England, United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'London, England, United Kingdom',
 'London, England, United Kingdom',
 'United Kingdom',
 'Manchester, England, United Kingdom',
 'Cardiff, Wales, United Kingdom',
 'Cambridge, England, United Kingdom',
 'London, England, United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'Brighton, England, United Kingdom',
 'Bilston, England, United Kingdom',
 'Manchester, England, United Kingdom',
 'United Kingdom',
 'Rickmansworth, England, United Kingdom',
 'Welwyn Garden City, England, United Kingdom',
 'London, England, United Kingdom',
 'Newcastle upon Tyne, England, United Kingdom',
 'Southampton, England, United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'London, England, United Kingdom',
 'London, England, United Kingdom',
 'London, England, United Kingdom',
 'London, England, United Kingdom',
 'London, England, United Kingdom',
 'Hatfield, England, United Kingdom',
 'London, England, United Kingdom',
 'Wide Open, England, United Kingdom',
 'Manchester, England, United Kingdom',
 'London, England, United Kingdom',
 'London, England, United Kingdom',
 'Cambridge, England, United Kingdom',
 'Reading, England, United Kingdom',
 'London, England, United Kingdom',
 'London, England, United Kingdom',
 'Exeter, England, United Kingdom',
 'Walters Ash, England, United Kingdom',
 'England, United Kingdom',
 'London, England, United Kingdom',
 'England, United Kingdom',
 'London, England, United Kingdom',
 'London, England, United Kingdom',
 'Birmingham, England, United Kingdom',
 'Maidstone, England, United Kingdom']

In [121]:
col = ["Job_title", "Company_name", 'Location']
df = pd.DataFrame({'Job_title':titles, 'Company_name':company_name, 'Location':loc})
df

,Job_title,Company_name,Location
0,GIS Analyst,Jacobs,"Wokingham, England, United Kingdom"
1,Graduate Hydraulic Modeller - Water,Royal HaskoningDHV,"Peterborough, England, United Kingdom"
2,Technical Writer,Zadara,United Kingdom
3,Polaris ProductWriter Developer,Aviva,United Kingdom
4,GIS Developer,Satellite Vu,"London, England, United Kingdom"
5,"Data Scientist, Analytics Intern",Meta,"London, England, United Kingdom"
6,Unreal Developer,Maclean Moore,United Kingdom
7,thinkFolio modernization FE developer,IHS Markit,"Manchester, England, United Kingdom"
8,Extend Workday Developer,Kainos,"Cardiff, Wales, United Kingdom"
9,Internship opportunities: Health Intelligence ...,Microsoft,"Cambridge, England, United Kingdom"
10,Data Science Graduate Programme,Diageo,"London, England, United Kingdom"
11,Electron Developer,Bright Purple,United Kingdom
12,Visualisation Developer,ICON plc,United Kingdom
13,Technical Writer Intern,Unity,"Brighton, England, United Kingdom"
14,GIS / Cartographic Consultant,networx | Recruitment Software & Services,"Bilston, England, United Kingdom"
15,Data Analyst,Arup,"Manchester, England, United Kingdom"
16,Technical Writer,CircleCI,United Kingdom
17,Technical Writer,Mastercard,"Rickmansworth, England, United Kingdom"
18,Technical Writer,Ocado Technology,"Welwyn Garden City, England, United Kingdom"
19,Entry Level/Junior Python Developer-Fintech st...,Robert Walters,"London, England, United Kingdom"
20,AECOM Graduate Opportunities UK & Ireland 2021/22,AECOM,"Newcastle upon Tyne, England, United Kingdom"
21,Adobe Campaign Developer / Campaign Developer,Specsavers,"Southampton, England, United Kingdom"
22,ROBLOX Developer,Pertemps ERP (part of Network EMEA),United Kingdom
23,Storyline Developer,Bakkavor,United Kingdom
24,Content Developer & Technical Writer,Amazon,"London, England, United Kingdom"
25,Data Science - Intern,Argus Media,"London, England, United Kingdom"
26,Data Science & Analytics Internship,King,"London, England, United Kingdom"
27,Technical Writer,Chainalysis Inc.,"London, England, United Kingdom"
28,Excel Bloomberg Query Language (BQL) Developer...,Bloomberg LP,"London, England, United Kingdom"
29,Technical Writer - eCommerce,Ocado Technology,"Hatfield, England, United Kingdom"
30,Artificial Intelligence Engineer,SICA SMART INFRASTRUCTURE OF TOMORROW PLATF,"London, England, United Kingdom"
31,Junior Data Scientist,Atos,"Wide Open, England, United Kingdom"
32,Email Developer,AO,"Manchester, England, United Kingdom"
33,Catastrophe model developer (Vulnerabilities e...,Guy Carpenter,"London, England, United Kingdom"
34,Client developer,Avison Young │UK,"London, England, United Kingdom"
35,Graduate Machine Learning Engineer / Data Scie...,Cambridge Consultants,"Cambridge, England, United Kingdom"
36,Data Scientist H/F,HP,"Reading, England, United Kingdom"
37,Technical Writer,Mediaocean,"London, England, United Kingdom"
38,Technical Writer - Fulfillment,Ocado Group,"London, England, United Kingdom"
39,Developer (Level 4),University of Exeter,"Exeter, England, United Kingdom"
40,Graduate Space Liaison,Serco,"Walters Ash, England, United Kingdom"
41,Geographic Information Systems Consultant,Helyx Secure Information Systems Limited,"England, United Kingdom"
42,Technical Writer,LSEG (London Stock Exchange Group),"London, England, United Kingdom"
43,Looker Developer,Tata Consultancy Services,"England, United Kingdom"
44,StreamSets Developer,Gazelle Global,"London, England, United Kingdom"
45,"Summer Internship - Sustainability, ESG, Londo...",Guardian Jobs,"London, England, United Kingdom"
46,AI Engineer,BT,"Birmingham, England, United Kingdom"
47,MI Developer - Advisory,The Ardonagh Group,"Maidstone, England, United Kingdom"

-------------------------------------------------------------------------

### Scraping geospatial jobs from linkedin

In [123]:
browser.current_url

'https://www.linkedin.com/jobs/search/?geoId=101165590&keywords=geospatial&location=United%20Kingdom'

In [134]:
geo_jobs = browser.find_elements_by_class_name("job-card-container") #relative job-card-list")
all_geo_data = []
for i in geo_jobs:
    all_geo_data.append(i.text)

class="job-card-container relative job-card-list
    job-card-container--clickable
    job-card-list--underline-title-on-hover  jobs-search-two-pane__job-card-container--viewport-tracking-12"
    
    
    job-card-container relative job-card-list
    job-card-container--clickable
    job-card-list--underline-title-on-hover  jobs-search-two-pane__job-card-container--viewport-tracking-19

In [286]:
len(all_geo_data25) #23 was 23

23

In [285]:
geo_jobs25 = browser.find_elements_by_class_name("job-card-container") #relative job-card-list")
all_geo_data25 = []
for i in geo_jobs25:
    all_geo_data25.append(i.text)

all_geo_data25

['Test Lead\nOrdnance Survey\nSouthampton, England, United Kingdom\n15 alumni work here\n1 week ago\n1 applicant',
 'Senior Residential Surveyor (Fire Safety)\nMichael Page\nCumbria, England, United Kingdom\n22 alumni work here\n1 month ago\n0 applicants',
 'Devops/Automation Engineer SC Cleared\nAccessplc\nWinchester, England, United Kingdom\nActively recruiting\n1 month ago\n0 applicants',
 'Cyber Security Consultant\nTelcoProfessionals\nSouthampton, England, United Kingdom\n4 weeks ago\n0 applicants',
 'Business Development Manager\nTamoco\nLondon, England, United Kingdom\nHybrid\nActively recruiting\n1 week ago\n0 applicants\nEasy Apply',
 'Growth Marketing Manager\nDoorFeed\nUnited Kingdom\nRemote\nActively recruiting\n1 week ago\n24 applicants\nEasy Apply',
 'Senior Surveyor/Associate Director - Residential Capital Markets\nCBRE\nWell, England, United Kingdom\n88 alumni work here\n1 month ago\n0 applicants',
 'Senior Business Development Manager - Public Sector\nEnvitia\nHorsham, England, United Kingdom\nHybrid\nActively recruiting\n1 day ago\n2 applicants\nEasy Apply',
 'Finance Officer\nBAE Systems\nRochester, England, United Kingdom\nOn-site\n67 alumni work here\n2 days ago\n6 applicants',
 'Arborist\nThomson Environmental Consultants\nGuildford, England, United Kingdom\nYour profile matches this job\n4 weeks ago\n0 applicants',
 'Information Technology Project Lead\nHelyx Secure Information Systems Limited\nEngland, United Kingdom\nHybrid\n2 alumni work here\n2 weeks ago\n0 applicants',
 'UI/UX Designer\n1Spatial\nCambridge, England, United Kingdom\nHybrid\n1 alum works here\n1 week ago\n4 applicants\nEasy Apply',
 'Business Development Manager\nBemillion\nLondon, England, United Kingdom\n1 month ago\n0 applicants',
 'Senior Project Manager (Software Development & Customer Delivery)\n1Spatial\nEngland, United Kingdom\nRemote\n1 alum works here\n3 days ago\nEasy Apply',
 'Sales Executive\nKamma\nLondon, England, United Kingdom\n1 alum works here\n4 days ago\n2 applicants',
 'School Education Assistant Manager\nNewcastle University\nNewcastle, England, United Kingdom\n67 alumni work here\n1 week ago\n0 applicants',
 'Client Engagement Manager\nRizing\nLondon, England, United Kingdom\nActively recruiting\n1 week ago\n1 applicant',
 'Senior Surveyor - Associate Director - Property Management - CBRE Investment Management\nCBRE\nLondon, England, United Kingdom\n88 alumni work here\n1 month ago\n0 applicants',
 'Senior Surveyor/Associate Director - - Student Accommodation Investment\nLondon, England, United Kingdom\nYour profile matches this job\n5 months ago',
 'Sales Manager - Ground Segment and EO Services\nAirbus\nGuildford, England, United Kingdom\n28 alumni work here\n2 weeks ago\n3 applicants',
 'Business Development Manager\nRezatec\nUnited Kingdom\nRemote\nYour profile matches this job\n2 weeks ago\n2 applicants\nEasy Apply',
 'Enterprise Asset Management Consultant\nNational Grid\nWarwick, England, United Kingdom\n29 alumni work here\n2 weeks ago\n3 applicants',
 'Senior Ethnographic User Researcher\nWhereIsMyTransport\nLondon, England, United Kingdom\n1 month ago\n3 applicants\nEasy Apply']

In [287]:
print(titles25[0])
print(company_name25[0])
print(loc25[0])

NameError: name 'titles25' is not defined

In [289]:
# ldd_g = []
# for data in all_geo_data:
#     ldd_g.append(data.split('\n')[:3])
    
# titles1 = [data[0] for data in ldd_g]
# titles1

# company_name1 = [data[1] for data in ldd_g]
# company_name1

# loc1 = [data[2] for data in ldd_g]
# loc1




#----------------------------------------------------2------------------------------------------------------------------

# ldd_g2= []
# for data in all_geo_data2:
#     ldd_g2.append(data.split('\n')[:3])
    
# titles2 = [data[0] for data in ldd_g2]
# titles2

# company_name2 = [data[1] for data in ldd_g2]
# company_name2

# loc2 = [data[2] for data in ldd_g2]
# loc2
#----------------------------------------------------3-----------------------------------------------------------------

# ldd_g3 = []
# for data in all_geo_data3:
#     ldd_g3.append(data.split('\n')[:3])
    
# titles3 = [data[0] for data in ldd_g3]
# titles3

# company_name3 = [data[1] for data in ldd_g3]
# company_name3

# loc3 = [data[2] for data in ldd_g3]
# loc3
# #------------------------------------------------------4----------------------------------------------------------------
# ldd_g4 = []
# for data in all_geo_data4:
#     ldd_g4.append(data.split('\n')[:3])
    
# titles4 = [data[0] for data in ldd_g4]
# titles4

# company_name4 = [data[1] for data in ldd_g4]
# company_name4

# loc4 = [data[2] for data in ldd_g4]
# loc4

# #----------------------------------------------------5-----------------------------------------------------------------


# ldd_g5 = []
# for data in all_geo_data5:
#     ldd_g5.append(data.split('\n')[:3])
    
# titles5 = [data[0] for data in ldd_g5]
# titles5

# company_name5 = [data[1] for data in ldd_g5]
# company_name5

# loc5 = [data[2] for data in ldd_g5]
# loc5

# #-------------------------------------------------------6---------------------------------------------------------------

# ldd_g6 = []
# for data in all_geo_data6:
#     ldd_g6.append(data.split('\n')[:3])
    
# titles6 = [data[0] for data in ldd_g6]
# titles6

# company_name6 = [data[1] for data in ldd_g6]
# company_name6

# loc6 = [data[2] for data in ldd_g6]
# loc6


# #-------------------------------------------------------------7--------------------------------------------------------
# ldd_g7 = []
# for data in all_geo_data7:
#     ldd_g7.append(data.split('\n')[:3])
    
# titles7 = [data[0] for data in ldd_g7]
# titles7

# company_name7 = [data[1] for data in ldd_g7]
# company_name7

# loc7 = [data[2] for data in ldd_g7]
# loc7



# #-----------------------------------------------------------8-----------------------------------------------------------
# ldd_g8 = []
# for data in all_geo_data8:
#     ldd_g8.append(data.split('\n')[:3])
    
# titles8 = [data[0] for data in ldd_g8]
# titles8

# company_name8 = [data[1] for data in ldd_g8]
# company_name8

# loc8 = [data[2] for data in ldd_g8]
# loc8



# #------------------------------------------------------9---------------------------------------------------------------

# ldd_g9 = []
# for data in all_geo_data9:
#     ldd_g9.append(data.split('\n')[:3])
    
# titles9 = [data[0] for data in ldd_g9]
# titles9

# company_name9 = [data[1] for data in ldd_g9]
# company_name9

# loc9 = [data[2] for data in ldd_g9]
# loc9




# #------------------------------------------------------10----------------------------------------------------------------
# ldd_g10 = []
# for data in all_geo_data10:
#     ldd_g10.append(data.split('\n')[:3])
    
# titles10 = [data[0] for data in ldd_g10]
# titles10

# company_name10 = [data[1] for data in ldd_g10]
# company_name10

# loc10 = [data[2] for data in ldd_g10]
# loc10



# #---------------------------------------------------------11------------------------------------------------------------
# ldd_g11 = []
# for data in all_geo_data11:
#     ldd_g11.append(data.split('\n')[:3])
    
# titles11 = [data[0] for data in ldd_g11]
# titles11

# company_name11 = [data[1] for data in ldd_g11]
# company_name11

# loc11 = [data[2] for data in ldd_g11]
# loc11



# #----------------------------------------------------------12------------------------------------------------------------


# ldd_g12 = []
# for data in all_geo_data12:
#     ldd_g12.append(data.split('\n')[:3])
    
# titles12 = [data[0] for data in ldd_g12]
# titles12

# company_name12 = [data[1] for data in ldd_g12]
# company_name12

# loc12 = [data[2] for data in ldd_g12]
# loc12

# #-----------------------------------------------------------13----------------------------------------------------------


# ldd_g13 = []
# for data in all_geo_data13:
#     ldd_g13.append(data.split('\n')[:3])
    
# titles13 = [data[0] for data in ldd_g13]
# titles13

# company_name13 = [data[1] for data in ldd_g13]
# company_name13

# loc13 = [data[2] for data in ldd_g13]
# loc13


# #------------------------------------------------------------14----------------------------------------------------------

# ldd_g14 = []
# for data in all_geo_data14:
#     ldd_g14.append(data.split('\n')[:3])
    
# titles14 = [data[0] for data in ldd_g14]
# titles14

# company_name14 = [data[1] for data in ldd_g14]
# company_name14

# loc14 = [data[2] for data in ldd_g14]
# loc14




# #-------------------------------------------------------------15--------------------------------------------------------

# ldd_g15 = []
# for data in all_geo_data15:
#     ldd_g15.append(data.split('\n')[:3])
    
# titles15 = [data[0] for data in ldd_g15]
# titles15

# company_name15 = [data[1] for data in ldd_g15]
# company_name15

# loc15 = [data[2] for data in ldd_g15]
# loc15



# #------------------------------------------------------------16----------------------------------------------------------



# ldd_g16 = []
# for data in all_geo_data16:
#     ldd_g16.append(data.split('\n')[:3])
    
# titles16 = [data[0] for data in ldd_g16]
# titles16

# company_name16 = [data[1] for data in ldd_g16]
# company_name16

# loc16 = [data[2] for data in ldd_g16]
# loc16



# #-------------------------------------------------------------17--------------------------------------------------------
# ldd_g17 = []
# for data in all_geo_data17:
#     ldd_g17.append(data.split('\n')[:3])
    
# titles17 = [data[0] for data in ldd_g17]
# titles17

# company_name17 = [data[1] for data in ldd_g17]
# company_name17

# loc17 = [data[2] for data in ldd_g17]
# loc17


# #---------------------------------------------------------------18-------------------------------------------------------
# ldd_g18 = []
# for data in all_geo_data18:
#     ldd_g18.append(data.split('\n')[:3])
    
# titles18 = [data[0] for data in ldd_g18]
# titles18

# company_name18 = [data[1] for data in ldd_g18]
# company_name18

# loc18 = [data[2] for data in ldd_g18]
# loc18


# #----------------------------------------------------------------19-----------------------------------------------------
# ldd_g19 = []
# for data in all_geo_data19:
#     ldd_g19.append(data.split('\n')[:3])
    
# titles19= [data[0] for data in ldd_g19]
# titles19

# company_name19 = [data[1] for data in ldd_g19]
# company_name19

# loc19 = [data[2] for data in ldd_g19]
# loc19


# #----------------------------------------------------------------20------------------------------------------------------


# ldd_g20 = []
# for data in all_geo_data20:
#     ldd_g20.append(data.split('\n')[:3])
    
# titles20 = [data[0] for data in ldd_g20]
# titles20

# company_name20 = [data[1] for data in ldd_g20]
# company_name20

# loc20 = [data[2] for data in ldd_g20]
# loc20


# #-------------------------------------------------------------------21--------------------------------------------------


# ldd_g21 = []
# for data in all_geo_data21:
#     ldd_g21.append(data.split('\n')[:3])
    
# titles21 = [data[0] for data in ldd_g21]
# titles21

# company_name21 = [data[1] for data in ldd_g21]
# company_name21

# loc21 = [data[2] for data in ldd_g21]
# loc21


# #--------------------------------------------------------------22--------------------------------------------------------

# ldd_g22 = []
# for data in all_geo_data22:
#     ldd_g22.append(data.split('\n')[:3])
    
# titles22 = [data[0] for data in ldd_g22]
# titles22

# company_name22 = [data[1] for data in ldd_g22]
# company_name22

# loc22 = [data[2] for data in ldd_g22]
# loc22





# #--------------------------------------------------------------23-------------------------------------------------------

# ldd_g23 = []
# for data in all_geo_data23:
#     ldd_g23.append(data.split('\n')[:3])
    
# titles23 = [data[0] for data in ldd_g23]
# titles23

# company_name23 = [data[1] for data in ldd_g23]
# company_name23

# loc23 = [data[2] for data in ldd_g23]
# loc23

# #----------------------------------------------------------------24------------------------------------------------------


# ldd_g24 = []
# for data in all_geo_data24:
#     ldd_g24.append(data.split('\n')[:3])
    
# titles24 = [data[0] for data in ldd_g24]
# titles24

# company_name24 = [data[1] for data in ldd_g24]
# company_name24

# loc24 = [data[2] for data in ldd_g24]
# loc24




# #-----------------------------------------------------------------25----------------------------------------------------

# ldd_g25 = []
# for data in all_geo_data25:
#     ldd_g25.append(data.split('\n')[:3])
    
# titles25 = [data[0] for data in ldd_g25]
# titles25

# company_name25 = [data[1] for data in ldd_g25]
# company_name25

# loc25 = [data[2] for data in ldd_g25]
# loc25



# #----------------------------------------------------------------26------------------------------------------------------

['Southampton, England, United Kingdom',
 'Cumbria, England, United Kingdom',
 'Winchester, England, United Kingdom',
 'Southampton, England, United Kingdom',
 'London, England, United Kingdom',
 'United Kingdom',
 'Well, England, United Kingdom',
 'Horsham, England, United Kingdom',
 'Rochester, England, United Kingdom',
 'Guildford, England, United Kingdom',
 'England, United Kingdom',
 'Cambridge, England, United Kingdom',
 'London, England, United Kingdom',
 'England, United Kingdom',
 'London, England, United Kingdom',
 'Newcastle, England, United Kingdom',
 'London, England, United Kingdom',
 'London, England, United Kingdom',
 'Your profile matches this job',
 'Guildford, England, United Kingdom',
 'United Kingdom',
 'Warwick, England, United Kingdom',
 'London, England, United Kingdom']

In [290]:
len(loc25)

23

In [292]:
company_name_geo = company_name1+company_name2+company_name3+company_name4+company_name5+company_name6+company_name7+company_name8+company_name9+company_name10+company_name11+company_name12+company_name13+company_name14+company_name15+company_name16+company_name17+company_name18+company_name19+company_name20+company_name21+company_name22+company_name23+company_name24+company_name25

In [294]:
titles_geo = titles1+titles2+titles3+titles4+titles5+titles6+titles7+titles8+titles9+titles10+titles11+titles12+titles13+titles14+titles15+titles16+titles17+titles18+titles19+titles20+titles21+titles22+titles23+titles24+titles25

In [295]:
loc_geo = loc1+loc2+loc3+loc4+loc5+loc6+loc7+loc8+loc9+loc10+loc11+loc12+loc13+loc14+loc15+loc16+loc17+loc18+loc19+loc20+loc21+loc22+loc23+loc24+loc25

In [296]:
df

,Job_title,Company_name,Location
0,GIS Analyst,Jacobs,"Wokingham, England, United Kingdom"
1,Graduate Hydraulic Modeller - Water,Royal HaskoningDHV,"Peterborough, England, United Kingdom"
2,Technical Writer,Zadara,United Kingdom
3,Polaris ProductWriter Developer,Aviva,United Kingdom
4,GIS Developer,Satellite Vu,"London, England, United Kingdom"
5,"Data Scientist, Analytics Intern",Meta,"London, England, United Kingdom"
6,Unreal Developer,Maclean Moore,United Kingdom
7,thinkFolio modernization FE developer,IHS Markit,"Manchester, England, United Kingdom"
8,Extend Workday Developer,Kainos,"Cardiff, Wales, United Kingdom"
9,Internship opportunities: Health Intelligence ...,Microsoft,"Cambridge, England, United Kingdom"
10,Data Science Graduate Programme,Diageo,"London, England, United Kingdom"
11,Electron Developer,Bright Purple,United Kingdom
12,Visualisation Developer,ICON plc,United Kingdom
13,Technical Writer Intern,Unity,"Brighton, England, United Kingdom"
14,GIS / Cartographic Consultant,networx | Recruitment Software & Services,"Bilston, England, United Kingdom"
15,Data Analyst,Arup,"Manchester, England, United Kingdom"
16,Technical Writer,CircleCI,United Kingdom
17,Technical Writer,Mastercard,"Rickmansworth, England, United Kingdom"
18,Technical Writer,Ocado Technology,"Welwyn Garden City, England, United Kingdom"
19,Entry Level/Junior Python Developer-Fintech st...,Robert Walters,"London, England, United Kingdom"
20,AECOM Graduate Opportunities UK & Ireland 2021/22,AECOM,"Newcastle upon Tyne, England, United Kingdom"
21,Adobe Campaign Developer / Campaign Developer,Specsavers,"Southampton, England, United Kingdom"
22,ROBLOX Developer,Pertemps ERP (part of Network EMEA),United Kingdom
23,Storyline Developer,Bakkavor,United Kingdom
24,Content Developer & Technical Writer,Amazon,"London, England, United Kingdom"
25,Data Science - Intern,Argus Media,"London, England, United Kingdom"
26,Data Science & Analytics Internship,King,"London, England, United Kingdom"
27,Technical Writer,Chainalysis Inc.,"London, England, United Kingdom"
28,Excel Bloomberg Query Language (BQL) Developer...,Bloomberg LP,"London, England, United Kingdom"
29,Technical Writer - eCommerce,Ocado Technology,"Hatfield, England, United Kingdom"
30,Artificial Intelligence Engineer,SICA SMART INFRASTRUCTURE OF TOMORROW PLATF,"London, England, United Kingdom"
31,Junior Data Scientist,Atos,"Wide Open, England, United Kingdom"
32,Email Developer,AO,"Manchester, England, United Kingdom"
33,Catastrophe model developer (Vulnerabilities e...,Guy Carpenter,"London, England, United Kingdom"
34,Client developer,Avison Young │UK,"London, England, United Kingdom"
35,Graduate Machine Learning Engineer / Data Scie...,Cambridge Consultants,"Cambridge, England, United Kingdom"
36,Data Scientist H/F,HP,"Reading, England, United Kingdom"
37,Technical Writer,Mediaocean,"London, England, United Kingdom"
38,Technical Writer - Fulfillment,Ocado Group,"London, England, United Kingdom"
39,Developer (Level 4),University of Exeter,"Exeter, England, United Kingdom"
40,Graduate Space Liaison,Serco,"Walters Ash, England, United Kingdom"
41,Geographic Information Systems Consultant,Helyx Secure Information Systems Limited,"England, United Kingdom"
42,Technical Writer,LSEG (London Stock Exchange Group),"London, England, United Kingdom"
43,Looker Developer,Tata Consultancy Services,"England, United Kingdom"
44,StreamSets Developer,Gazelle Global,"London, England, United Kingdom"
45,"Summer Internship - Sustainability, ESG, Londo...",Guardian Jobs,"London, England, United Kingdom"
46,AI Engineer,BT,"Birmingham, England, United Kingdom"
47,MI Developer - Advisory,The Ardonagh Group,"Maidstone, England, United Kingdom"

In [297]:
columns = ["Job_title", "Company_name", 'Location']
data = pd.DataFrame({'Job_title':titles_geo, 'Company_name':company_name_geo, 'Location':loc_geo})
data

,Job_title,Company_name,Location
0,Geospatial Data Engineer,Opus Recruitment Solutions,United Kingdom
1,Graduate Geospatial Specialist - Infrastructur...,Arup,"Solihull, England, United Kingdom"
2,Graduate Geospatial Specialist - Infrastructur...,Arup,"Belfast, Northern Ireland, United Kingdom"
3,Graduate Geospatial Specialist - Infrastructur...,Arup,"Glasgow, Scotland, United Kingdom"
4,GIS Analyst,Jacobs,"Manchester, England, United Kingdom"
...,...,...,...
616,Senior Surveyor/Associate Director - - Student...,"London, England, United Kingdom",Your profile matches this job
617,Sales Manager - Ground Segment and EO Services,Airbus,"Guildford, England, United Kingdom"
618,Business Development Manager,Rezatec,United Kingdom
619,Enterprise Asset Management Consultant,National Grid,"Warwick, England, United Kingdom"
620,Senior Ethnographic User Researcher,WhereIsMyTransport,"London, England, United Kingdom"

In [299]:
data.to_csv('geodata_old.csv')

In [300]:
df.to_csv('recommended.csv')